div {
  text-align: center;
}
.container {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  border: 15px;
  border-color: black;
}
